.navigation {
	position:  absolute;
	top:       50%;
	left:      50%;
	transform: translate(-50%, -50%);
}

.linkContainer {
	display:     inline-block;
	margin-left: 48px;
	position:    relative;
}

.linkContainer:first-child {
	margin-left: 0;
}

.link {
	display:        inline-block;
	font-family:    Apercu, sans-serif;
	line-height:    normal;
	font-size:      1rem;
	color:          #808B97;
	vertical-align: middle;
	text-transform: capitalize;
	position:       relative;
}

.link:hover::before {
	content:          "";
	display:          inline-block;
	position:         absolute;
	height:           2px;
	width:            120px;
	bottom:           -12px;
	left:             50%;
	transform:        translateX(-50%);
	background-color: #FF5D47;
}

:global .active::before {
	content:          "";
	display:          inline-block;
	position:         absolute;
	height:           2px;
	width:            120px;
	bottom:           -12px;
	left:             50%;
	transform:        translateX(-50%);
	background-color: #FF5D47;
}

.icon {
	vertical-align: middle;
	height:         1rem;
	margin-right:   6px;
}
